body {
   background-image: url("assets/DHBWLogoOhneText.png");
   background-repeat: no-repeat;
   background-position: 98% 7%;
   background-attachment: fixed;
    background-color: #ffffff;
    color: black;
    display: grid;
    border-top-style: solid;
    border-color: #8b0012;
    
    border-top-width: 15px;
    padding: 20px;
  }

a {
  color: white;
}
  
#Header {
  color: #8b0012;
  font-family: "Generis Sans W01 Bold", sans-serif;

  font-size: 26pt;
  margin: auto;
  text-align: center;
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
  /*color:8b0012;*/
}

.linda{
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: 5;
}

.karen{
  display: grid;
  gap: 20px;
  grid-column: 1/ 4;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}
#endtext {
  grid-column: 1/2;
  font-family: "Generis Sans W01 Bold", sans-serif;
  font-size: 16px;
  padding: 1% 2%;
  margin: 20px;
  margin-right: 0px;
  text-align: end;
}
#starttext {
  font-family: "Generis Sans W01 Bold", sans-serif;
  font-size: 16px;
  padding: 1% 2%;
  margin: 20px;
  margin-right: 0px;
  text-align: end;
}

#end, #start {
  background-color: transparent;
  border-style: solid;
  border-color: black;
  font-family: "Generis Sans W01 Bold", sans-serif;
  font-size: 16px;
  padding: 1% 2%;
  margin: 20px;
  margin-right: 0px;
  grid-column: 2/3;
  
}
#model_object_viewer_canvas {
  display: none;
  color: white;
}

#submit{
  background-color: #E2001A;
  border-style: solid;
  border-color: #8b0012;
  color: white;
  font-family: "Generis Sans W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: 1% 2%;
  margin: 20px;
  grid-column: 3/4;
}

#about {
  background-color: #8b0012;
  color: white;
  font-family: "Generis Sans W01 Bold", sans-serif;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 8px;
  width: 100%;
  text-align: center;
}
